<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2025 Lab ICCC. (under construction)
             		 

		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  <b>About</b>:<br />
   		Placeholder
		</div>
		<div class="col-sm-4">
		  <b>Contact</b>:<br />
		  Harrington RM 205<br />
		  University of North Dakota<br />
		  Grand Forks, ND, 58202<br />
            (<a href="https://www.google.com/maps/place/University+of+North+Dakota:+Tech+Accelerator/@47.9191144,-97.092972,16z/data=!3m1!4b1!4m6!3m5!1s0x52c6810c8212278f:0x48ffc2c89e554ea8!8m2!3d47.9191144!4d-97.0903917!16s%2Fg%2F11cp7jbh05?entry=ttu">Locate Us</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
